/* *** Overall page layout structure *** */

body {
	background: #86B39C;
	margin: 0;
	padding: 0;
	text-align: center;
	voice-family: "\"}\"";
	voice-family: inherit;
}

#container {
	background: #86B39C url(background.gif) repeat-y;
	margin: 0 auto;
	padding: 0 16px;
	position: relative;
	text-align: left;
	width: 750px;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 718px;
}

/* Hide following rule from IE5/Mac \*/
.main-content { clear: left; }
/* Stop hiding from IE5/Mac */

.main-content {
	float: left;
	padding: 0;
	width: 539px;
}
#main-content-inner {
	margin: 0;
	padding: 10px 24px 20px 20px;
}

#sidebar {
	margin: 0 0 0 539px;
	padding: 15px;
	position: relative;
}

#footer {
	clear: both;
	margin-bottom: 0;
	padding: 8px 12px;
}


/* *** Overall typography & presentation *** */

body {
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
}
html>body {
	font-size: small;
}

#container {
	font-size: 85%;
}

a:link, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


/* *** Header section *** */

#header {
	background-color: #6B4660;
	border-bottom: 1px solid black;
	color: #FFF;
	padding: 0;
	width: 100%;
}
#header a:link, #header a:visited, #header a:hover {
	color: #FFF;
	text-decoration: none;
}

#logo {
	margin: 0;
	padding: 0;
}
#logo img {
	border-right: 1px solid black;
	display: block;
}

#header-inner {
	padding: .8em 1em;
	width: 100%;
}

#site-name {
	font-size: 16pt;
	font-weight: normal;
}


/* *** Main content area *** */

#mission {
	background-color: #567364;
	color: white;
	font-size: 90%;
	line-height: 1.25em;
	padding: 4px 20px;
}
#mission a:link, #mission a:visited {
	color: #C8E5D6;
}
#mission a:hover {
	color: white;
}

.main-content {
	line-height: 1.5em;
}

.main-content h1 {
	font-size: 175%;
	line-height: 1.5em;
	color: #555;
}
.main-content p {
	margin: .5em 0 .5em 0;
}

.content-title:first-letter {
	text-transform: uppercase;
}

.breadcrumb {
	background-color: #486433;
	color: white;
	padding: 4px 20px 6px 20px;
}
.breadcrumb a:link, .breadcrumb a:hover, .breadcrumb a:visited {
	color: white;
}
.breadcrumb a:first-letter {
	text-transform: uppercase;
}

.messages {
	border: 1px solid black;
	color: white;
	margin: 1em 0;
	padding: 6px;
}
#message .status {
	background-color: #3F7317;
}
#message .error {
	background-color: #731717;
}
#message a:link, #message a:visited, #message a:hover {
	color: white;
}

.node {
	padding: 1em 0 0 0;
}

.node-title {
	font-size: 150%;
	font-weight: normal;
	line-height: 1.3em;
}
.node-title a:link, .node-title a:hover, .node-title a:visited {
	color: #777;
}

.node img.thumb, .node img.image {
	border: 2px solid black;
	float: left;
	margin: .25em 1.5em .5em 0;
}

.node-break {
	clear: both;
	font-size: 1px;
	line-height: 0px;
	margin: 0;
	padding: 0;
}

.node-footer {
	background-color: #CAE5D1;
	clear: both;
	color: #666;
	font-size: 90%;
	margin: 1.5em 0 1em 0;
	padding: 8px;
}
.node-footer a:visited {
	color: #486433;
}
.node-footer a:link, .node-footer a:hover {
	color: #2E4021;
}

.node .terms {
	padding-left: 3em;
}

.node-form .options .form-item {
	margin: 0;
}
.form-item .description {
	color: #666;
	font-size: 90%;
}

.main-content ul {
	margin-top: .25em;
	margin-bottom: .45em;
}

.main-content li {
	margin-top: .5em;
}
.main-content textarea {
	width: 465px;
}
.htmlarea {
	border: 1px solid #666;
	width: 471px;
}

.comment {
	border: 2px solid #CAE5D1;
	margin: 1em 0;
	padding: .8em;
}
.comment .title {
	font-size: 130%;
	line-height: 1.3em;
}
.comment .author {
	border-bottom: 1px solid #CAE5D1;
	color: #666;
	font-size: 90%;
	margin-bottom: 1.25em;
}
.comment .links {
	color: #666;
	font-size: 90%;
	margin-top: .75em;
}

.comment-new {
	border: 2px solid #567364;
}
.comment .new {
	color: #F66;
	float: right;
	text-transform: uppercase;
}

.box h2 {
	color: #555;
	font-size: 140%;
	font-weight: normal;
	line-height: 1.5em;
}


/* *** Sidebar *** */

#sidebar {
	color: #555;
	font-size: 90%;
}
#sidebar a:link, #sidebar a:visited {
	color: #567364;
}
#sidebar a:hover {
	color: black;
}

.block {
	border-top: 4px solid #567364;
	margin-top: 1.65em;
	padding-top: 1.25em;
}
#block-user-1 {
	border: none;
	margin-top: 0;
	padding-top: 0;
}
.block h2 {
	font-size: 110%;
	line-height: 1.2em;
	margin: 6px 0;
}


/* *** Footer *** */

#footer {
	background-color: #567364;
	border-bottom: 1px solid black;
	color: white;
}
#footer a:link, #footer a:hover, #footer a:visited {
	color: white;
}

#footer p {
	font-size: 90%;
	line-height: 1.5em;
	margin: 0;
}